<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
</head>
<script>
    function changePass(event){
        let oldPass = $('#oldPasswd').val();
        let password = $('#passwd').val();
        let cPassword = $('#cPasswd').val();

        if(oldPass=='' || password=='' || cPassword==''){
            alert('Fields cannot be empty');
            event.preventDefault();
            return;
        }

        if(password != cPassword){
            alert('Passwords do not match');
            event.preventDefault();
            return;
        }

        $.ajax({
            url: '/checkPassword',
            method: 'GET',
            data: {
                password: oldPass
            },
            success:function(data){
                if(data){
                    $('#passForm').submit();
                }else{
                    alert('Incorrect Password');
                    event.preventDefault();
                }
            },
            error:function(){
                alert("smth went wrong!");
            }
        })
    }
</script>
<style>
    #formContent{
        width:100%;
        height: 100%;
        margin-top: 174px;
        margin-left: 370px;
    }

    #btnSubmit{
        display: block;
    }

    label{
        display: block;
        margin-top: 4px;
    }
</style>
<body>
<div id="formContent">
    <form id="passForm" th:action="@{/changePassword}" th:object="${userInfo}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <label for="oldPasswd">Old Password</label>
    <input type="password" id="oldPasswd" name="oldPasswd" value=""/>
    <label for="passwd">Current Password</label>
    <input type="password" th:field="*{passwd}" value=""/>
    <label for="cPasswd">Confirm Password</label>
    <input type="password" id="cPasswd" name="cPasswd" value=""/>
    <input type="button" id="btnSubmit" value="Update" onclick="changePass(event)"/>
    </form>
</div>
</body>
</html>