<html xmlns:th="http://www.thymeleaf.org">
<head>
    <center><h2>Welcome to my first spring boot page, <span th:text="${name}"></span></h2></center>
</head>
<title>
    Dashboard
</title>
<body>
<div>
   <h5 align="right"> <a href="/hello">Logout</a></h5>
</div>
<br>
<div>
    <span style="padding-left: 300px; position: relative; top: 120px;">
        <img src="/blastoise.png" height="300px" width="300px"/>
    </span>
    <span style="padding-left: 400px">
        <img src="/mewto.png" height="300px" width="300px"/>
    </span>
</div>
<div style="width:100%; display: flex; justify-content: flex-end;" >
    <div></div>
<div style="border: 2px solid black; width: 500px; height: 200px; margin-right: 200px;">
</div>
</div>
</body>
</html>