<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<body>
    <nav th:class="${'colour-' + (session.themeColour!=null?session.themeColour:'EAE21D')}">
    <ul class="navbar">
        <li><a href="/dashboard">Home</a></li>
        <li th:if="${#lists.contains({'Admin', 'Moderator', 'Assistant'}, session.userRole)}"><a href="/messages">Messages</a></li>
        <li><a href="#about" onclick="menu('About')">About</a></li>
    </ul>
    <ul th:with="userLoggedIn=${session.userId!=null?true:false}" class="profile">
        <li th:if="${userLoggedIn}"><a href="#profile" onclick="profilemenu('profile')" th:text="${session.username}"></a></li>
        <li th:if="${userLoggedIn}"><a href="#logout" onclick="profilemenu('logout')">Logout</a></li>
        <li th:unless="${userLoggedIn}"><a href="#login" onclick="profilemenu('login')">Login</a></li>
    </ul>
    </nav>
</body>
</html>