<!DOCTYPE html>
<html lang="en">
<body>
    <nav>
    <ul class="navbar">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="#none" onclick="menu('none')">none</a></li>
        <!-- add the ability to change theme colour -->
        <li><a href="#setting" onclick="menu('Setting')">Setting</a></li>
        <li><a href="#contact" onclick="menu('Contact')">Contact</a></li>
        <li><a href="#about" onclick="menu('About')">About</a></li>
    </ul>
    <ul class="profile">
        <li th:if="${loggedIn}"><a href="#profile" onclick="profilemenu('profile')" th:text="${name}"></a></li>
        <li th:if="${loggedIn}"><a href="#logout" onclick="profilemenu('logout')">Logout</a></li>
        <li th:unless="${loggedIn}"><a href="#login" onclick="profilemenu('login')">Login</a></li>
    </ul>
    </nav>
</body>
</html>